{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-filename-extension": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "import/prefer-default-export": ["off"]
  },
  "root": true,
  "ignorePatterns": ["src/backend/", "src/server.js"],
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.jsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
